<section id="about" class="about">
        <div class="max-width">
            <h2 class="title">About</h2>~
            <div class="about-content">
                <div class="column left">
                    <img src="../images/gaurav.jpg">
                </div>
                <div class="column right">
                    <div class="text">I'm Gaurav and I'm a <span>Programmer</span> </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure voluptatum placeat, quidem
                        explicabo sint minima soluta quo nulla nisi nesciunt adipisci impedit ipsum nobis quia delectus
                        laudantium ex magnam perspiciatis corrupti. Atque praesentium officia debitis nulla molestias
                        numquam distinctio mollitia at repudiandae totam natus fugiat recusandae adipisci rem facilis
                        quas, officiis earum nisi placeat quibusdam ipsum dolor hic nobis.</p>
                    <a href="#">Resumé</a>
                </div>
            </div>
        </div>
    </section>