<section id="about" class="about">
  <div class="max-width">
    <h2 class="title">About</h2>~
    <div class="about-content">
      <div class="column left">
        <img src="../images/gaurav.jpg" />
      </div>
      <div class="column right">
        <div class="text">I'm Gaurav and I'm a <span>Programmer</span> </div>
        <p>Hi! I am a Full Stack Web Developer currently a B.Tech. student
          graduating in Computer Science Engineering from Indian Institute Of
          Information Technology(IIIT), Guwahati, India. I am in the pre-final
          year looking for an Internship in a Big-Tech Company. You can find
          more about me in the resume attached below.
        </p>
        <a href="../Resume/resume.pdf" target="_blank">Resumé</a>
      </div>
    </div>
  </div>
</section>