<section id="about" class="about">
  <div class="max-width">
    <h2 class="title">About</h2>
    <div class="about-content">
      <div class="column left">
        <img src="../images/gaurav.jpg" />
      </div>
      <div class="column right">
        <div class="text">I'm Gaurav and I'm a <span>Programmer</span> </div>
        <p>Hi! I am a Full Stack Web Developer currently a B.Tech. student
          graduating in Computer Science Engineering from Indian Institute Of
          Information Technology(IIIT), Guwahati, India. I am in the final
          year looking for a Job/Internship in a Big-Tech Company. You can find
          more about me from my Coding Profiles and the resume attached below.
        </p>
        <a href="../Resume/resume.pdf" class="resume" target="_blank">Resumé</a>
        <a href="https://auth.geeksforgeeks.org/user/gaurav1122gupta/practice" class="gfg" target="_blank">GFG</a>
        <a href="https://leetcode.com/Gaurav2612/" class="leetcode" target="_blank">LeetCode</a>
        <a href="https://www.interviewbit.com/profile/gaurav-gupta_537" class="interviewbit" target="_blank">InterviewBit</a>
      </div>
    </div>
  </div>
</section>