<section id="about" class="about">

  <div class="container">
    <div class="row">
      <h2 class="title">About</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div>
          <img src="../images/gaurav.png" class="img-fluid" />
        </div>
      </div>
      <div class="col-md-8 ps-5">
        <div class="row">
          <div class="fs-3 fw-bold mb-4">I'm Gaurav and I'm a
            <span style="color: #1DA1F2;">Software Engineer</span>
          </div>
          <div class="fs-5">Welcome to my webspace! I'm a passionate software
            developer based in India, dedicated to crafting immersive web
            applications with user-centric design. With a keen eye for detail, I
            strive to create engaging experiences that resonate with users.
            Beyond my primary expertise, I thrive on exploring diverse
            technology stacks, constantly seeking to push the boundaries of
            innovation.
            <br />
            <br />
            I believe in the power of collaboration and teamwork. Let's combine
            our talents to build innovative solutions that make a difference.
            Together, we can turn vision into reality and shape the future of
            technology!
          </div>
        </div>
        <div class="row mt-5 fs-5 text-center text-light pt-3">
          <div
            class="col mx-3 my-2 py-2"
            style="border-radius: 6px; background: #1DA1F2; border: 2px solid #1DA1F2; cursor:pointer;"
            onmouseover="this.style.backgroundColor='transparent'; this.style.color='#1DA1F2';"
            onmouseout="this.style.backgroundColor='#1DA1F2'; this.style.color='white';"
            onclick="window.open('../Resume/resume.pdf', '_blank').focus();"
          >
            Resumé
          </div>
          <div
            class="col mx-3 my-2 py-2"
            style="border-radius: 6px; background: #22a779; border: 2px solid #22a779; cursor:pointer;"
            onmouseover="this.style.backgroundColor='transparent'; this.style.color='#22a779';"
            onmouseout="this.style.backgroundColor='#22a779'; this.style.color='white';"
            onclick="window.open('https://auth.geeksforgeeks.org/user/gaurav1122gupta/practice', '_blank').focus();"
          >
            GFG
          </div>

          <div
            class="col mx-3 my-2 py-2"
            style="border-radius: 6px; background: #fc9f16; border: 2px solid #fc9f16; cursor:pointer;"
            onmouseover="this.style.backgroundColor='transparent'; this.style.color='#fc9f16';"
            onmouseout="this.style.backgroundColor='#fc9f16'; this.style.color='white';"
            onclick="window.open('https://leetcode.com/Gaurav2612/', '_blank').focus();"
          >
            LeetCode

          </div>
          <div
            class="col mx-3 my-2 py-2"
            style="border-radius: 6px; background: #01969f; border: 2px solid #01969f; cursor:pointer;"
            onmouseover="this.style.backgroundColor='transparent'; this.style.color='#01969f';"
            onmouseout="this.style.backgroundColor='#01969f'; this.style.color='white';"
            onclick="window.open('https://www.interviewbit.com/profile/gaurav-gupta_537', '_blank').focus();"
          >
            InterviewBit
          </div>
        </div>
      </div>
    </div>
    {{! timeline for education and experience }}
    <div class="row mt-5">
      <div class="col">
        <div class="row">
          <div class="col-md-6 me-auto w-75">
            <div class="fs-3 fw-bold">Education</div>
            <ul class="timeline">
              <li>
                <div class="mb-2 fst-italic">2019-2023</div>
                <div class="mb-2 fw-bold">BACHELOR OF TECHNOLOGY (BTECH.) - INDIAN INSTITUTE OF
                  INFORMATION TECHNOLOGY, GUWAHATI (IIITG) </div>
                <div>CPI - 7.98</div>
                <div class="mt-2"> Course: Computer
                  Science and Engineering </div>
              </li>
              <li class="mt-5">
                <div class="mb-2 fst-italic">2018</div>
                <div class="mb-2 fw-bold">HIGHER SECONDARY CERTIFICATE - ST. PETERS SCHOOL, KICHHA</div>
                <div>Percentage: 96.4</div>
                <div class="mt-2">Course: CBSE Board, PCM</div>
              </li>
              <li class="mt-5">
                <div class="mb-2 fst-italic">2016</div>
                <div class="mb-2 fw-bold">SENIOR SECONDARY CERTIFICATE - ST. PETERS SCHOOL, KICHHA</div>
                <div>CGPA: 10</div>
                <div class="mt-2">Course: CBSE Board</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-md-6 ms-auto w-75">
            <div class="fs-3 fw-bold">Experience</div>
            <ul class="timeline">
              <li>
                <div class="mb-2 fst-italic">July 2023 - Present</div>
                <div class="mb-2 fw-bold">SOFTWARE ENGINEER I - FORCEPOINT</div>
                <div> Joined Forcepoint as SDE-1, worked on some amazing projects which includes Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae harum qui obcaecati corporis expedita, voluptas delectus tempora eius reprehenderit accusamus!.</div>
                <div class="mt-2"> TechStack: C++, GoLang, Python, JS</p>
              </li>
              <li class="mt-5">
                <div class="mb-2 fst-italic">Jan 2023 - June 2023</div>
                <div class="mb-2 fw-bold">SOFTWARE DEVELOPMENT INTERN - AMAZON INDIA</div>
                <div> Joined Amazon India as a 6 month Intern. Successfully completed a full stack project with amazing Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, error odio quod explicabo itaque qui quam eaque minus nulla saepe?</div>
                <div class="mt-2"> TechStack: Java, JS</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>