<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand fs-3 fw-bold mx-3 px-2 py-1" href="#">Portfo<span style="color: #1DA1F2;">lio</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mx-2">
        <li class="nav-item mx-3 px-2">
          <a class="nav-link menu-btn" href="#home">Home</a>
        </li>
        <li class="nav-item mx-3 px-2">
          <a class="nav-link menu-btn" href="#about">About</a>
        </li>
        <li class="nav-item mx-3 px-2">
          <a class="nav-link menu-btn" href="#skills">Skills</a>
        </li>
        <li class="nav-item mx-3 px-2">
          <a class="nav-link menu-btn" href="#projects">Projects</a>
        </li>
        <li class="nav-item mx-3 px-2">
          <a class="nav-link menu-btn" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


    {{!-- <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <div class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Portfo<span>lio.</span></a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#skills" class="menu-btn">Skills</a></li>
                <li><a href="#projects" class="menu-btn">Projects</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div> --}}