<section id="projects" class="projects">
        <div class="max-width">
            <h2 class="title">Projects</h2>
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src="../images/gaurav.jpg">
                        <div class="text">Name</div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, voluptate? Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Magni, expedita!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="../images/gaurav.jpg">
                        <div class="text">Name</div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, voluptate? Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Magni, expedita!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="../images/gaurav.jpg">
                        <div class="text">Name</div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, voluptate? Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Magni, expedita!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="../images/gaurav.jpg">
                        <div class="text">Name</div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, voluptate? Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Magni, expedita!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="../images/gaurav.jpg">
                        <div class="text">Name</div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, voluptate? Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Magni, expedita!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>