<section id="projects" class="projects">
  <div class="max-width">
    <h2 class="title">Projects</h2>
    <div class="carousel owl-carousel">

      <a
        href="https://project-weather-by-gaurav.herokuapp.com/"
        target="_blank"
        style="color:white"
      >
        <div class="card">
          <div class="box">
            <img src="../images/weather.png" />
            <div class="text">Weather App</div>
            <p>This is a Simple web App that uses openweather Map API to tell
              the weather of any location Entered. This is created using HTML,
              CSS, JS, NodeJS and weather API.
            </p>
          </div>
        </div>
      </a>

      <a
        href="https://mern-project-by-gaurav.herokuapp.com/"
        target="_blank"
        style="color:white"
      >
        <div class="card">
          <div class="box">
            <img src="../images/growmore.png" />
            <div class="text">Grow More</div>
            <p>This is a Sample web Site that I created for my Node JS practice to test
              mongoDB. This can be used as template for my other Projects.
            </p>
          </div>
        </div>
      </a>

      <a
        href="https://gaurav2612gupta.github.io/todoListReactWebsite/"
        target="_blank"
        style="color:white"
      >
        <div class="card">
          <div class="box">
            <img src="../images/todo.png" />
            <div class="text">To DO List </div>
            <p>This is a Simple web App that uses pure React .User can Enter the
              list of Items for their shopping cart or may be ToDo list for the
              day.
            </p>
          </div>
        </div>
      </a>

      <div class="card">
        <div class="box">
          <img src="../images/gaurav.jpg" />
          <div class="text">Name</div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel,
            voluptate? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Magni, expedita!</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <img src="../images/gaurav.jpg" />
          <div class="text">Name</div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel,
            voluptate? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Magni, expedita!</p>
        </div>
      </div>
    </div>
  </div>
</section>