<section id="skills" class="skills">
        <div class="max-width">
            <h2 class="title">Skills</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">My creative <span>skills</span> &experiences.</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, maxime? Ratione perferendis nulla
                        facilis? Iure commodi eligendi iusto, nulla qui at! Sit laudantium, nihil veritatis fugit
                        officia iste facere dolor non necessitatibus. Incidunt quas tempore facilis tempora voluptas
                        nemo laudantium beatae, sequi amet in adipisci non perferendis pariatur assumenda iste!</p>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>HTML</span>
                            <span>80%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>CSS</span>
                            <span>70%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>JavaScript</span>
                            <span>55%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>C/C++</span>
                            <span>85%</span>
                        </div>
                        <div class="line c"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>JAVA</span>
                            <span>70%</span>
                        </div>
                        <div class="line java"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Python</span>
                            <span>45%</span>
                        </div>
                        <div class="line python"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>