<section id="skills" class="skills">
  <div class="container max-width">
    <h2 class="title">Skills</h2>
    <div class="skills-content">
      <div class="column left">
        <p>As a Full Stack Developer, I bring to the table a rich repertoire of
          skills across multiple programming languages and frameworks. Alongside
          my proficiency in these areas, I have a keen interest in solving Data
          Structures and Algorithms (DSA) problems, regularly engaging in coding
          competitions to sharpen my abilities. With extensive experience in
          developing web applications and a knack for problem-solving, I am
          well-equipped to contribute effectively to any project or team.
        </p>
      </div>
      <div class="column right">

        <div class="bars">
          <div class="info">
            <span>Java</span>
            <span>85%</span>
          </div>
          <div class="line java"></div>
        </div>

        <div class="bars">
          <div class="info">
            <span>C/C++</span>
            <span>80%</span>
          </div>
          <div class="line c"></div>
        </div>

        <div class="bars">
          <div class="info">
            <span>Python</span>
            <span>45%</span>
          </div>
          <div class="line python"></div>
        </div>

        <div class="bars">
          <div class="info">
            <span>HTML/CSS</span>
            <span>70%</span>
          </div>
          <div class="line html"></div>
        </div>

        <div class="bars">
          <div class="info">
            <span>JS</span>
            <span>65%</span>
          </div>
          <div class="line js"></div>
        </div>

        <div class="bars">
          <div class="info">
            <span>NodeJS</span>
            <span>70%</span>
          </div>
          <div class="line node"></div>
        </div>

        <div class="bars">
          <div class="info">
            <span>DBMS</span>
            <span>60%</span>
          </div>
          <div class="line dbms"></div>
        </div>

        <div class="bars">
          <div class="info">
            <span>React</span>
            <span>65%</span>
          </div>
          <div class="line react"></div>
        </div>

      </div>
    </div>
  </div>
</section>